:root {
  --dark: #13151a;
  --ligth: #fffdfb;
  --rojo: #f87171;
  --naranja: #fb923c;
  --gris: #5b6e8a;
  --code-dark: #334155;
  --code-light: #d1d5db;
  --parrafo-dark: #ece6d8;
  --parrafo-light: #281804;
}
html,
body {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  font-family: system-ui, sans-serif;
  background: var(--ligth);
  overflow-y: scroll;
  color: var(--dark);
}
/* 🔴 🧩 BODY 🧩 */

body {
  margin: 0 auto;
  width: 800px;
  max-width: calc(100% - 4rem);
  font-size: 20px;
  line-height: 1.6;
}

/* 🔴 🧩 H1 🧩 */

h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
  margin: 0em;
}

/* 🔴 🧩 P 🧩 */

p {
  color: var(--parrafo-light);
}

/* 🔴 🧩 ESTILOS DEL MENU 🧩 */

.menu {
  cursor: pointer;
}

.menu .line {
  display: block;
  width: 30px;
  height: 3.5px;
  margin-bottom: 8px;
  background-color: var(--dark);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.menu-ali {
  display: flex;
  justify-content: space-between;
}

/* 🔴 🧩 ESTILOS DEL NAVBAR 🧩 */

.navbar {
  position: relative;
  display: block;
  margin-top: 20px;
}
.nav-links {
  width: 100%;
  height: 100%;
  display: none;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  text-align: center;
  font-size: 60px;
  list-style: none;
  background: #13151a;
}
.nav-links a {
  font-size: 2rem;
}
.nav-links a:hover {
  color: #5b6e8a;
}
.contenedor-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  gap: 2rem;
}

.expanded {
  display: unset;
}

/* 🔴 🧩 ESTILOS DEL FOOTER 🧩 */

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ligth);
}
footer {
  color: var(--ligth);
  text-align: center;
  width: 100%;
}
.dark footer {
  color: var(--dark);
  text-align: center;
  bottom: 0;
}

/* 🔴 🧩 CODE => TAGS 🧩 */

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  background: var(--code-light);
  padding: 0.1rem 0.3rem;
  border-radius: 3px;
  color: var(--dark);
}

/* .tag {
  margin: 0.15em;
  border-radius: 0.25em;
  padding: 0.01em 0.01em;
  font-size: 0.9em;
  background-color: var(--dark);
}

.tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag:hover {
  background-color: var(--code-light);
} */

a {
  color: var(--gris);
  text-decoration: none;
  padding: 0.3rem;
}

a:hover {
  color: var(--naranja);
  text-underline-offset: 0.2rem;
}
.dark a {
  color: var(--parrafo-dark);
  text-decoration: none;
}
.dark a:hover {
  color: var(--rojo);
  text-decoration: none;
}

a:hover {
  color: var(--rojo);
}

/* 🔴 🧩 CUSTOMS 🧩 */

/* .custom-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 10rem;
} */

.custom-list-about {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 20px;
}

.custom-li-about {
  list-style: none;
  padding: 16px;
  margin: 0;
  background: #374151;
  display: block;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* 🔴 🧩 DARK MODE 🧩 */

html.dark {
  background-color: var(--dark);
  color: var(--ligth);
}
.dark h2 {
  color: var(--ligth);
}
.dark p {
  color: var(--parrafo-dark);
}

/* 🔴 🧩 DARK ABOUT 🧩 🔴 */
.dark .acerca-de {
  font-weight: lighter;
}
.dark .menu .line {
  background: var(--ligth);
}
.dark code {
  background: var(--code-dark);
  color: white;
}
.dark .iconos-redes {
  color: #fde68a;
  font-weight: 900;
}
/* .dark .nav-links {
  background-color: rgba(19, 21, 26, 0.3);
  backdrop-filter: blur(10px);
  padding-bottom: 20px;
} */
.dark .nav-links a {
  color: var(--gris);
}
.dark .nav-links a:hover {
  color: var(--white);
}
.dark ::-webkit-scrollbar-thumb {
  background-color: var(--rojo);
  border-radius: 5px;
}
.dark ::-webkit-scrollbar-track {
  background-color: var(--dark);
}
.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #ca3d3d;
}

/* 🔴 🧩 SCROLL 🧩 */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--ligth);
}
::-webkit-scrollbar-thumb {
  background-color: var(--gris);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #374151;
}

/* 🔴 🧩 DESKTOP 🧩 */

.image-container {
  display: flex;
  width: 780px;
  padding-top: 1em;
  padding-bottom: 1em;
}
.image-container-mesh {
  display: block;
  width: 200px;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* 🔴 🧩 MEDIA QUERIES 🧩 */

@media (max-width: 630px) {
  .image-container-mesh {
    display: none;
  }
}
@media screen and (max-width: 630px) {
  .nav-links a {
    display: block;
    flex-direction: column;
    font-size: 30px;
  }
}

@media screen and (min-width: 630px) {
  .nav-links {
    display: flex;
    position: static;
    background: none;
  }
}

@media screen and (max-width: 630px) {
  .contenedor-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0.5em;
    gap: 3rem;
  }
}

@media screen and (min-width: 630px) {
  .menu .line {
    display: none;
  }
}
