---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Acerca de";

const identity = {
  firstName: "Gramaphenia",
  country: "Argentina",
  occupation: "Escritores t茅cnicos",
  hobbies: [
    "Generaci贸n de datos e imagenes",
    "Creaciones Musicales",
    "Estudio de los programas de creaci贸n de videojuegos y modelado 3D",
  ],
};

const skills = [
  "HTML",
  // "CSS",
  // "JavaScript",
  // "C#",
  // "GDSCRIPT",
  // "C++",
  // "React",
  // "Astro",
  // "Blender",
  // "Godot",
  // "Unity",
  // "UE5",
  // "Documentaci贸n",
];

const generaltitle = [
  "Lenguaje de etiquetas de hipertexto",
  // "La necesidad de un CSS",
  // "La necesidad de un JS",
  // "La necesidad de un C#",
  // "La necesidad de un GDSCRIPT",
  // "La necesidad de un C++",
  // "La necesidad de un React",
  // "La necesidad de un Astro",
  // "La necesidad de un Blender",
  // "La necesidad de un Godot",
  // "La necesidad de un Unity",
  // "La necesidad de un UE5",
  // "La necesidad de un Documentaci贸n",
];

const description = [
  "<head>, <title>, <body>, <header>, <footer>, <article>, <section>, <p>, <div>, <span>, <img>, <aside>, <audio>, <canvas>, <datalist>, <details>, <embed>, <nav>, <output> (en-US), <progress>, <video>, <ul>, <ol>, <li>",
];
---

<Layout title={`${pageTitle} nosotros`}>
  <body>
    <h1>Nosotros</h1>
    <h2 class="titulo"><span>[</span> 隆gramaphenicos! <span>]</span></h2>

    <p>
      Disciplina creativa y t茅cnica que se ha convertido en una parte integral
      de nuestras existencias.
    </p>

    <p class="paragraph">Nuestros estudios versan sobre:</p>
    <summary class="custom-list-about">Informacion</summary>
     Seccion dedicada a comentarios acerca de:
    {
      skills.map((skill, index) => (
        <summary class="acerca-de">
          <h2>{skill}</h2>
          <details class="custom-list-about">
            <div>
              <h3>{generaltitle[index]}</h3>
              <p>{description}</p>
            </div>
          </details>
        </summary>
      ))
    }
  </body>
</Layout>

<!--  З STYLES З   -->
<style>
  .paragraph {
    font-size: 30px;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-weight: 900;
  }

  span {
    color: #f87171;
  }

  summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 1em;
    margin: 1em;
  }

  /*  З NO LLEGAN LAS VARIABLES NI EL MODO DARK З  */

  /* .dark .acerca-de {
    font-weight: lighter;
  } */

  details[open] summary {
    padding: 0.5em;
    transition: all;
    transition: ease-in-out;
    margin-bottom: 1em;
  }

  details[open] {
    border-bottom: 2px solid #fb923c;
    margin-bottom: 1em;
  }

  .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
