---
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog"
---

<Layout title={pageTitle}>
  <body>
    <h1>Blog</h1>
    <h2>Explorando el Fascinante Mundo del Dise침o 3D</h2>
    <p>
      En el emocionante universo del dise침o contempor치neo, el dise침o 3D ha emergido como una t칠cnica innovadora que
      trasciende
      las fronteras de m칰ltiples industrias. Desde el <code>cine</code> y la <code>animaci칩n</code> hasta la
      arquitectura y la medicina, el dise침o
      3D
      est치 transformando la forma en que percibimos y creamos el mundo que nos rodea.
      <!-- <br><br>
      En esencia, el dise침o 3D es la creaci칩n de objetos y entornos tridimensionales en un
      espacio virtual.
      Esto se
      logra a
      trav칠s de software especializado que permite a los dise침adores modelar, texturizar y animar con precisi칩n.
      <code>Blender</code>,
      <code>Autodesk Maya</code> y <code>Cinema 4D</code> son algunas de las herramientas l칤deres en esta 치rea.
      <br><br>
      El dise침o 3D ha revolucionado la industria del entretenimiento al dar vida a mundos imaginativos en el cine y la
      animaci칩n. Tambi칠n es esencial en el desarrollo de videojuegos, permitiendo la creaci칩n de mundos interactivos.
      Adem치s,
      la <code>realidad virtual</code> y aumentada est치n llevando el dise침o 3D a nuevas dimensiones al incorporarlo en
      la experiencia del usuario.
      <br><br>
      En campos como la <code>arquitectura</code> y la <code>ingenier칤a
      </code> , el dise침o 3D facilita la visualizaci칩n
      de proyectos
      complejos,
      permitiendo a los profesionales mostrar sus ideas de manera efectiva. En <code>medicina</code>, se utiliza para
      crear modelos
      anat칩micos precisos para cirug칤as y educaci칩n m칠dica.
      <br><br>
      Pero el dise침o 3D no se limita a la pantalla. La impresi칩n 3D convierte dise침os virtuales en objetos f칤sicos,
      transformando la fabricaci칩n y la creaci칩n de <code>prototipos</code> .
      <br><br>
      En resumen, el dise침o 3D es una disciplina que fusiona creatividad y tecnolog칤a, desencadenando una ola de
      innovaci칩n en
      diversas industrias. Su versatilidad y potencial son ilimitados, y su continua <code>evoluci칩n</code> promete un
      <code>futuro</code>
      emocionante y
      lleno de posibilidades creativas. -->
    </p>
    <ul class="custom-list">
         游 {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
  </body>
</Layout>