---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";
---

<Layout title={pageTitle}>
  <body>
    <h1>Blog</h1>
    <h2><span>[</span> Diseño 3D y Videojuegos <span>]</span></h2>
    <p>
      Documentacion de los procesos del modelado 3D y del desarrollo
      Videojuegos.
    </p>
    <ul>
      🎲 {
        allPosts.map((post) => (
          <BlogPost url={post.url} title={post.frontmatter.title} />
        ))
      }
    </ul>
  </body>
</Layout>

<!-- 🔴 🧩 ESTILOS DEL BLOG 🧩 🔴 -->

<style>
  body {
    text-align: center;
  }
  span {
    color: var(--rojo);
  }
  ul {
    list-style: none;
    padding: 0;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 20px;
    /* margin-top: 10rem; */
  }
</style>
