---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";
---

<Layout title={pageTitle}>
  <body>
    <h1>Blog</h1>
    <h2>Explorando el Fascinante Mundo del Dise침o 3D</h2>
    <p>
      En el universo del dise침o contempor치neo, el dise침o 3D ha emergido como una
      t칠cnica innovadora que trasciende las fronteras de m칰ltiples industrias.
      El cine y la animaci칩n, la arquitectura y la medicina.
    </p>
    <ul class="custom-list">
      游 {
        allPosts.map((post) => (
          <BlogPost url={post.url} title={post.frontmatter.title} />
        ))
      }
    </ul>
  </body>
</Layout>
