---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";
---

<Layout title={pageTitle}>
  <body>
    <h1>Blog</h1>
    <h2>Explorando el Fascinante Mundo del Diseño 3D</h2>
    <p>
      El diseño 3D ha emergido como una
      técnica innovadora que trasciende las fronteras de múltiples industrias.
    </p>
    <ul class="custom-list">
      🎲 {
        allPosts.map((post) => (
          <BlogPost url={post.url} title={post.frontmatter.title} />
        ))
      }
    </ul>
  </body>
</Layout>
