---
import Layout from '../layouts/Layout.astro';
// import Greeting from '../components/Greeting.jsx';
const pageTitle = "Hexágono"
---

<Layout title={pageTitle}>

	<body>
		
			<h1>cuatro cientos cuatro</h1>
			<h3>[un blog de gramaphenia]</h3>

		<!-- <Greeting client:load messages={["Hej", "Hallo" , "Hola" , "Habari" ]} /> -->
		<div class="centro-index">
			<p>
			Preparando secciones
		</p>
		</div>
		
	</body>
</Layout>

<style>
	h3 {
		display: flex;
		justify-content: center;
		margin-bottom: 10rem;
	}

	/* CLASES PERSONALIZADAS */
	.centro-index {
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>