---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
const pageTitle = "Hexágono";
---

<Layout title={pageTitle}>
  <body class="contenedor">
    <h1>cuatro cientos cuatro</h1>
    <h2><span>[</span>un blog de gramaphenia<span>]</span></h2>
    <div class="centrado">
      <Logo />
    </div>
  </body>
</Layout>

<!-- 🔴 🧩 STYLES 🧩 🔴 -->
<style>
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span {
    color: #f87171;
  }

  /* 🔴 🧩 CUSTOMS 🧩 🔴 */
  .centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
</style>
