---
const { title, url, } = Astro.props;
---

<li><a href={url}>{title}</a></li>

<style>
  .card-container {
    display: block;
    flex-direction: column;
  }

  li {
    padding: 20px;
    margin: 10px;
    background-color: var(--light);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  a {
    color: var(--parrafo-dark);
  }

  a:hover {
    color: #f87171;
  }

  @media screen and (max-width: 630px) {
    .card-container {
      display: block;
    }
    li {
      margin: 10px 0;
    }
  }
</style>
