---
import IconoYoutube from "./IconoYoutube.astro";
import IconoInstagram from "./IconoInstagram.astro";

const platform = "github";
const username = "gramaphenia";
---

<footer class="footer-container">
  <p>
    Más proyectos en
    <a class="iconos-redes" href={`https://www.${platform}.com/${username}`}
      >{platform}!</a
    >
  </p>
  <a class="iconos-redes" href="https://www.youtube.com/channel/@gramaphenia">
    <IconoYoutube />
  </a>

  <a class="iconos-redes" href="https://www.instagram.com/gramaphenia/">
    <IconoInstagram />
  </a>
</footer>

<style>
  /* 🔴 🧩 ESTILOS DEL FOOTER 🧩 */

  /* .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ligth);
  }
  footer {
    color: var(--ligth);
    text-align: center;
    width: 100%;
  }
  .dark footer {
    color: var(--dark);
    text-align: center;
    bottom: 0;
  } */
</style>
