<div class="nav-links">
  <div class="contenedor-links">
    <a href="/">Inicio</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Etiquetas</a>
    <a class="cuatro" href="/about/">404</a>
  </div>
</div>

<style>
  .cuatro {
    margin-right: 42px;
  }
</style>
